#button-container {
	margin-left: 43%;
	margin-top: 8%;
	width: 180px;
}

input {
	height: 50px;
	width: 190px;
	background-color: #029c15;
	color: white;
	padding: 6px;
	border: 1px solid #aaaaaa;
	font: 14px 'Helvetica','Trebuchet MS';
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 5px 5px 20px #000000;
}

#initial-state-body {
	background-color: #029caf;
}

#hexCode-container {
	margin-top: 20px;
	width: 200px;
	margin-left: 43%;
	text-align: center;
}

#hexCode-value {
	font: 36px 'Raleway', 'Helvetica','Trebuchet MS';
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}